@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


/*iconos */
@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');

.navComplet{
    width: 100%;
    height: auto;
    color:var(--color-primary);
}
.nav{
    width: 100%;
    height: 90px;
    display:flex;
}
.nav>div:nth-child(1){
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* beginning name */
.name{

    display:flex;
    font-weight: bold;
    font-family: 'Fredoka One', cursive;
}
.name> div:nth-child(1){
    font-size: 3em;
    color:var(--color-secondary);

}
.name> div:nth-child(2){
    font-size: 1em;
    color:rgb(104, 104, 104)

}
.name> div:nth-child(3){
    font-size: 3em;
    color:rgb(255, 213, 3)

}
.name> div:nth-child(4){
    font-size: 3em;
    color:rgb(44, 7, 14)

}
.name> div:nth-child(5){
    font-size: 1em;
    color:var(--color-secondary);

}

/*end name */
.nav>div:nth-child(2){
    width:150px;
    font-size:40px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    cursor:pointer;
}


.navList{
    display:none;
    background-color:#32354a;
    margin-left:20px;
    margin-right:20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom:10px;

}
.navList>ul{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.navList>ul>li{
    list-style: none;
    width:80%;
    display:flex;
    justify-content: flex-start;
    cursor: pointer;
    border-bottom: 1px solid var(--color-primary);
    margin-bottom: 5px;   
}
.navList>ul>li:hover{
    color:var(--color-secondary);
}




@media screen and (min-width:767px){
  
    
  }
  
  